body
{
	
	background-image:url(rpslogo.jpg),url(rpslogo.jpg),url(rpswebbanner.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat;
	background-position:70px  60px,1120px 60px, 194px  30px;

	background-color:#ff0066;
	
	/*background-image:url(KXIPUNJAB.jpg);
	background-size:cover;*/
}
table{
	margin:350px 5px 20px 5px ;
	border-radius:5px;
	background-color:#990099;

}
td
{
border-radius:8px;
background-color:green;
}
td:hover
{
	background-color:#ffdd00
	}