body
{
	
	background-image:url(srhlogo.png),url(srhlogo.png),url(srhwebbanner.png);
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat;
	background-position:130px  60px,1080px 60px, 194px  30px;

	background-color:#ff0066;
	
	/*background-image:url(KXIPUNJAB.jpg);
	background-size:cover;*/
}
table{
	margin:350px 5px 20px 5px ;
	border-radius:5px;
	background-color:#d35400;

}
td
{
border-radius:8px;
background-color:green;
}
td:hover
{
	background-color:#ffdd00
	}