body
{
	margin:0px 0px;
	background-image:url(gllogo.png),url(gllogo.png),url(glwebbanner.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat;
	background-position:70px  60px,1080px 60px, 194px  30px;

	background-color:#ff0066;
	
	/*background-image:url(KXIPUNJAB.jpg);
	background-size:cover;*/
}
table{
	margin:350px 5px 20px 5px ;
	border-radius:5px;
	background-color:blue;

}
td
{
border-radius:8px;
background-color:green;
}
td:hover
{
	background-color:#ffdd00
	}